*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f5;
}

/*Fonts*/
@font-face {
  font-family: Noto-sans;
  src: url(./Fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf);
}

.zoommer-navigation{
  background-color: white;
}

.nav-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 16rem 0rem 16rem;
}

.profile-icon{
  width: 2rem;
}

.zoomer-logo{
  width: 12rem;
}

.nav-list{
  border-radius: 6px;
  list-style-type: none;
}

.searching-system{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #eff0f2;
  border-radius: 6px;
  padding: 0px 20px 0px 0px;
}

.search-bar{
  padding: 1rem 30rem 1rem 1.5rem;
  outline: none;
  border: none;
  margin-right: 20px;
}

.search-bar::placeholder{
  color: #0a3251;
  font-family: Noto-sans;
  font-size: 12px;
  font-weight: 500;
}

.search-button{
  border: none;
  background: none;
  cursor: pointer;
}

.search-button img{
  width: 22px;
}

.user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #0a3251;
  font-family: Noto-sans;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.user-profile:hover{
  transform: scale(1.1);
}

.user-profile:active{
  transform: scale(0.9);
}

.user-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-input input{
  padding: 10px 10px 10px 10px;
  border: solid 1px rgb(211, 210, 210);
  border-radius: 5px;
}

.dropdown{
  display: flex;
  flex-direction: column;
}

.dropdown-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0.1px solid rgb(211, 210, 210);
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: -20px;
  padding: 20px 20px 41px 20px;
  z-index: 1;
}

.forgot-password{
  color: #007bff;
  font-size: 10px;
  font-family: Noto-sans;
  font-weight: bold;
  text-align: right;
  transition: 0.2s;
}

.forgot-password:hover{
  color: #68b0fd;
}

.login-register-buttons{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.logIn-button{
  background-color: #ff5000;
  color: white;
  font-family: Noto-sans;
  font-size: 12px;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.logIn-button:hover{
  background-color: #ff9260;
}

.register-button{
  font-family: Noto-sans;
  font-size: 12px;
  font-weight: bold;
  color: #0a3251;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.register-button:hover{
  color: #ff5000;
}

.txt-between-lines {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: bolder;
  color: #cfcece;
}

.txt-between-lines:before, .txt-between-lines:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.txt-between-lines:before {
  margin-right: 10px;
}

.txt-between-lines:after {
  margin-left: 10px;
}

.register-with-google{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: rgb(1, 84, 9);
  border: none;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
}

.register-with-google:hover{
  transform: scale(1.07);
  background-color: rgb(0, 0, 0);
}

.register-with-google:active{
  transform: scale(0.85);
}

.register-google-icon{
  width: 2.5vh;
}

.cart-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Noto-sans;
  font-weight: bolder;
  color: #0a3251;
  transition: 0.2s;
}

.cart-link:hover{
  transform: scale(1.1);
}

.cart-link:active{
  transform: scale(0.9);
}

.cart-link:hover{
  color: #ff5000;
}

.cart-image{
  width: 30px;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background-size: contain;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: end;
}

.carousel-dot {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border: solid 2px rgb(255, 255, 255);
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s ease-in-out;
}

.carousel-dot.active {
  background-color: #ff5000;
}

.carousel-arrow{
  font-size: 32px;
  font-family: Noto-sans;
  color: white;
  border: none;
  border-radius: 5px;
  background: #ff5000;
  padding: 10px 15px 10px 15px;
  transition: 0.5s;
}

.carousel-arrow:hover{
  background-color: #fd9260;
}

.carousel-dot:hover {
  background-color: #ffffff;
}

.carousel-arrow.left-arrow {
  margin-right: 210px;
  cursor: pointer;
}

.carousel-arrow.right-arrow {
  margin-left: 210px;
  cursor: pointer;
}

.product-field{
  padding: 0px 200px 0px 200px;
  width: 100%;
  height: 200vh;
  background-color: #f5f5f5;
}

.product-field-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.product-field-header h1{
  font-size: 19px;
  font-family: Noto-sans;
  color: #0a3251;
}

.products-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.292);
}

.products-icon img{
  width: 32px;
}

.all-product{
  width: 100%;
  min-height: 150vh;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.product-link{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-family: Noto-sans;
  color: #0a3251;
  background-color: white;
  border: #eff0f2 2px solid;
  border-radius: 10px;
  height: 430px;
  max-width: 300px;
  text-decoration: none;
}

.product-title{
  font-size: 15px;
  font-weight: bold;
  color: #0a3251;
}

.product-image{
  width: 160px;
  border-bottom: #0a3251 solid 1px;
}

.product-price{
  font-size: 22px;
  font-weight: bold;
  color: #0a3251;
  border-bottom: #ff5000 2px solid;
}

.product-button{
  background-color: #ff5000;
  font-size: 15px;
  font-weight: bold;
  color: #f5f5f5;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.product-button:hover{
  background-color: #ff915e;
  transform: scale(1.1);
}

.show-more{
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.show-more-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 12px 35px 12px 35px;
  font-size: 18px;
  font-family: Noto-sans;
  font-weight: bold;
  background-color: #ff5000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.show-more-button:hover{
  background-color: #ff915e;
}

.cart-navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Noto-sans;
  color: white;
  font-size: 8px;
}

.cart-navigation-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 7vh;
  padding: 0px 30px 0px 0px;
  background-color: #ff5000;
  border-radius: 7px;
}

.cart-navigation-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 7vh;
  background-color: #0a3251;
  border-radius: 7px 0px 0px 7px;
}

.white-burger-menu{
  width: 25px;
}

.cart-info{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cart-added-products{
  overflow: scroll;
  background-color: white;
  padding: 10px;
  width: 45%;
  height: 40vh;
  margin-top: 4vh;
  margin-left: 29vh;
  border-radius: 10px;
}

.cart-paying{
  background-color: white;
  height: 30vh;
  width: 24%;
  margin-top: 4vh;
  border-radius: 10px;
}

.product-window{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 10vh 20vh;
}

.product-window-frame{
  display: flex;
  flex-direction: row;
  gap: 15vh;
  height: 40vh;
  padding: 2vh 5vh;
  background-color: white;
  border-radius: 15px;
}

.product-window-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 17vh;
  padding-bottom: 16vh;
  width: 30vh;
  height: 30vh;
  border: solid 1px rgb(245, 244, 244);
  border-radius: 5px;
}

.window-tiny-images{
  display: flex;
  flex-direction: row;
  gap: 1vh;
  margin-bottom: 2vh;
}

.tiny-image{
  width: 8vh;
  gap: 10px;
  cursor: pointer;
  transition: 0.4s;
  border: #c6c6c6 1px solid;
  border-radius: 7px;
  padding: 0.2vh;
}

.tiny-image:hover{
  opacity: 0.7;
}

.tiny-image:active{
  transform: scale(0.85);
}

.window-image{
  max-width: 25vh;
}

.window-info h2{
  height: 7vh;
  font-family: Noto-sans;
  color: #0a3251;
  border-bottom: 1px solid rgb(245, 244, 244);
}

.window-price {
  font-family: Noto-sans;
  color: #ff5000;
  font-weight: bold;
  font-size: 30px;
}

.window-info p span{
  color: #0a3251;
}

.window-btn{
  font-size: 16px;
  width: 22vh;
  padding: 2vh;
  background-color: #ff5000;
  color: white;
  font-family: Noto-sans;
  border: none;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.window-btn-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.added-to-cart{
  font-family: Noto-sans;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(0, 159, 0);
}

.added-to-cart span{
  font-size: 22px;
}

.window-btn:hover{
  background-color: #fd9260;
  transform: scale(1.1);
}

.window-btn:active{
  transform: scale(0.85);
}

.window-info-text{
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.window-info-payment{
  display: flex;
  flex-direction: row;
  gap: 10vh;
}

.window-payment{
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.short-desc{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.short-desc-text{
  font-family: Noto-sans;
  font-size: 15px;
  color: #828181;
}

.desc-header{
  font-family: Noto-sans;
  color: #0a3251;
}

.long-desc{
  padding: 1vh;
  background-color: white;
  height: auto;
  border-radius: 15px;
}

.long-desc-text{
  font-family: Noto-sans;
  font-size: 14px;
  line-height: 22px;
}

.desc-btn{
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: #ff5100;
  color: white;
  font-family: Noto-sans;
  cursor: pointer;
}

.footer {
  background-color: #ff51001f;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-link {
  font-size: 12px;
  font-family: Noto-sans;
  color: #ffffff;
  background-color: #ff6b26;
  padding: 2px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.contact-page{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  width: 100%;
  height: 50vh;
}

.contact-page-header{
  border-radius: 15px 0px 0px 15px;
  padding: 2px;
  font-family: Noto-sans;
  background-color: white;
  color: #0a3251;
  height: 3vh;
}

.contact-page-info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 0px 25px 25px 25px;
  background-color: white;
  width: 70%;
  height: 50vh;
}

.contact-page-ul{
  list-style: none;
  line-height: 10vh;
  font-family: Noto-sans;
  font-size: 25px;
}

.contact-page-ul li{
  display: flex;
  align-items: center;
  border-top: 2px solid #ff5000;
  border-bottom: 2px solid #ff5000;
}

.contact-page-ul li span{
  font-weight: bolder;
}

.contact-page-ul li a{
  text-decoration: none;
  color: #0a3251;
  font-weight: 400;
  transition: 0.2s;
}

.contact-page-ul li a:hover{
  color: #ff5100;
}

.contact-link-icon{
  width: 20px;
}

.cart-item-ul{
 list-style-type: none;
}

.cart-item-li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: #ff5000 2px solid;
  font-family: Noto-sans;
}

.cart-item-img{
  width: 10vh;
  border: 2px #ff51008a solid;
  border-radius: 5px;
}

.cart-item-title{
  font-weight: bolder;
}

.cart-item-price{
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
}

.cart-item-price span{
  font-size: 22px;
  font-weight: bolder;
  color: #ff5100;
}

.cart-item-remove{
  cursor: pointer;
  font-family: Noto-sans;
  font-weight: bolder;
  padding: 5px 15px;
  background-color: rgb(182, 9, 9);
  border: none;
  border-radius: 7px;
  color: white;
  transition: 0.5s;
}

.cart-item-remove:hover{
  background-color: rgb(97, 1, 1);
}

.cart-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.cart-empty p {
  font-family: Noto-sans;
  font-size: 22px;
  font-weight: bolder;
  color: #0a3251;
}

.cart-empty a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0a3251;
  font-size: 32px;
  font-family: Noto-sans;
  font-weight: 350;
  transition: 0.2s;
}

.cart-empty a:hover{
  transform: scale(1.1);
  border-bottom: 1px solid black;
}

.cart-empty a:active{
  transform: scale(0.85);
}

.cart-empty img{
  width: 5vh;
}

.cart-paying{
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
}

.cart-paying-total{
  display: flex;
  gap: 5px;
  font-family: Noto-sans;
}

.cart-paying-total span{
  color: #ff5000;
}

.cart-paying-button{
  font-family: Noto-sans;
  font-weight: bolder;
  font-size: 18px;
  padding: 15px 100px;
  background-color: #ff5000;
  color: white;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.cart-paying-button:hover{
  background-color: #fd9260;
  transform: scale(1.1);
}

.cart-paying-button:active {
  transform: scale(0.85);
}

.back-to-top {
  position: fixed;
  bottom: 20%;
  left: 75px;
}

.back-to-top-button{
  padding: 10px;
  font-size: 18px;
  background-color: #ff5000;
  color: white;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

.back-to-top-button:hover{
  transform: scale(1.2);
}

.back-to-top-button:active{
  transform: scale(0.70);
}

.brand-filter-select {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: 0.3s ease;
}

.brand-filter-select:hover {
  border-color: #aaa;
}

.brand-filter-select:focus {
  border-color: #555;
}

.cart-responsive-icon{
  display: none;
}

.change-language{
  padding: 5px;
  font-family: Noto-sans;
  font-size: 16px;
}

.registration-page {
  display: flex;
  flex-direction: column;
  font-family: Noto-sans;
  color: #0a3251;
  align-items: center;
  padding: 20px;
}

.register-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.register-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.register-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-page-button {
  background-color: #ff7b00;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.register-page-button:hover {
  background-color: #f89f4b;
}

.register-page-button:active {
  transform: scale(0.9);
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: blue;
}

.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto-sans;
  height: 50vh;
}

.send-email-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forg-pass-container{
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.fpp-input-container{
  display: flex;
  gap: 10px;
}

.forg-pass-inp{
  padding: 5px;
}

/*Media Queries*/

@media only screen and (max-width: 1455px) {
  .carousel-dot{
    width: 1vh;
    height: 1vh;
  }
  .back-to-top{
    left: 35px;
  }
  .search-bar{
    padding: 1rem 25rem 1rem 1.5rem;
  }
  .nav-list li{
    gap: 22px;
    padding: 2rem 10rem 0rem 10rem;
  }
  .window-info-text h2{
    font-size: 17px;
  }
  .window-btn{
    font-size: 12px;
  }
}

@media only screen and (max-width: 1290px){
  .search-bar{
    padding: 1rem 20rem 1rem 1.5rem;
  }
}

@media only screen and (max-width: 1240px){
  .search-bar{
    padding: 1rem 15rem 1rem 1.5rem;
  }
  .back-to-top{
    bottom: 3%;
    left: 25px;
    border: 3px solid black;
    border-radius: 25px;
  }
  .carousel-dot{
    width: 0.5vh;
    height: 0.5vh;
    border: 0.1px solid white;
  }
  .carousel-arrow.left-arrow {
    margin-right: 110px;
  }
  .carousel-arrow.right-arrow{
    margin-left: 110px;
  }
  .carousel-images{
    height: 400px;
  }
  .all-product{
    gap: 20px;
  }
  .window-info-text h2{
    font-size: 15px;
  }
  .window-btn{
    font-size: 12px;
    width: 20vh;
  }
  .window-info-payment {
    gap: 5vh;
  }
  .window-price{
    font-size: 20px;
  }
}

@media only screen and (max-width: 1130px){
  .all-product{
    grid-template-columns: auto auto auto auto;
  }
  .search-bar{
    padding-right: 1rem;
  }
  .nav-list li{
    gap: 22px;
    padding: 2rem 10rem 0rem 10rem;
  }
  .carousel-images{
    height: 350px;
  }
  .cart-paying-button{
    padding: 15px 70px;
  }
  .cart-added-products{
    margin-left: 130px;
  }
  .cart-empty p{
    font-size: 14px;
  }
  .cart-empty a{
    font-size: 18px;
  }
  .cart-empty a img{
    width: 3vh ;
  }
  .cart-item-li{
    gap: 10px;
  }
  .cart-item-title{
    font-size: 12px;
  }
  .product-window-frame{
    gap: 15px;
  }
}

@media only screen and (max-width: 960px){
  .window-info-text h2{
    font-size: 12px;
  }
  .window-info-payment{
    gap: 10px;
  }
  .window-btn{
    font-size: 7px;
    width: 14vh;
    padding: 12px 0px;
  }
  .short-desc-text{
    font-size: 10px;
  }
}

@media only screen and (max-width: 890px){
  .search-bar{
    padding-right: 0rem;
  }
  .all-product{
    gap: 1px;
  }  
  .nav-list li{
    gap: 10px;
    padding: 2rem 1rem 0rem 1rem;
  }
  .cart-paying-button{
    font-size: 12px;
    padding: 15px 50px;
  }
  .cart-item-img{
    width: 7vh;
  }
  .cart-item-title{
    font-size: 8px
  }
  .cart-item-price{
    font-size: 12px;
  }
  .cart-item-price span{
    font-size: 14px
  }
  .cart-item-remove{
    font-size: 10px;
  }
  .desc-header{
    font-size: 15px;
  }
  .long-desc-text{
    font-size: 10px;
    line-height: 15px;
  }
  .product-window {
    padding: 5vh 10vh;
}
}

@media only screen and (max-width: 835px){
  .search-bar{
    padding-right: 0rem;
    margin: 0;
  }
  .all-product{
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .carousel-dots{
    display: none;
  }
  .product-field{
    padding: 0px 50px 0px 50px;
    width: 100%;
    height: 200vh;
    background-color: #f5f5f5;
  }
  .carousel-images{
    height: 250px;
  }
  .window-image{
    width: 15vh;
  }
  .tiny-image{
    width: 5vh;
  }
  .product-window-image{
    border: none;
  }
  .window-info-text h2{
    font-size: 8px;
  }
  .short-desc{
    display: none;
  }
}

@media only screen and (max-width: 710px){
  .window-btn{
    width: 5vh;
    padding: 4px 12px;
  }
  .window-btn span{
    display: none;
  }
  .cart-responsive-icon{
    display: flex;
    width: 2vh;
  }
  .added-to-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 10px;
  }
  .added-to-cart span{
    font-size: 12px;
  }
}

@media only screen and (max-width: 660px){
  .all-product{
    grid-template-columns: auto auto;
    gap: 0px;
  }
  .dropdown-content {
    margin-left: -50px;
  }
  .zoomer-logo{
    width: 15vh;
  }
  .search-bar{
    display: none;
  }
  .searching-system{
    border: none;
  }
  .carousel-images{
    height: 150px;
  }
  .carousel-arrow{
    font-size: 12px;
    padding: 2px 8px;
  }
  .profile-icon{
    width: 25px;
  }
  .user-profile{
    font-size: 10px;
  }
  .cart-image{
    width: 25px;
  }
  .cart-link{
    font-size: 10px;
  }
  .products-icon{
    gap: 10px;
  }
  .products-icon h1{
    font-size: 10px;
  }
  .products-icon img{
    width: 20px;
  }
  .brand-filter-select{
    padding: 8px;
    font-size: 10px;
  }
  .product-field {
    padding: 0px 25px 0px 25px;
  }
  .product-window-frame{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-button{
    font-size: 12px;
  }
  .cart-location h1{
    font-size: 11px;
  }
  .cart-paying-total{
    font-size: 12px;
  }
  .cart-paying-button{
    font-size: 8px;
    padding: 10px 30px;
  }
  .cart-added-products{
    height: 30vh;
    margin-left: 75px;
  }
  .cart-item-img{
    width: 6vh;
  }
  .cart-paying{
    height: 30vh;
  }
  .product-window-frame{
    flex-direction: column;
    gap: 0px;
  }
  .window-info-text{
    flex-direction: row;
    gap: 5vh ;
  }
  .product-window-frame{
    padding: 20px;
  }
  .product-window-image{
    width: 23vh;
    padding: 10px 120px;
    height: 20vh;
  }
  .tiny-image{
    width: 5vh;
  }
  .window-image{
    width: 18vh;
  }
  .window-info-text{
    margin-top: 50px;
    gap: 100px;
  }
  .window-info-text h2{
    width: 12vh;
    border: none;
  }
  .window-price{
    font-size: 15px;
  }
  .window-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
  }
  .product-window {
    padding: 5vh 10vh;
  }
  .added-to-cart{
    display: none;
  }
  .contact-page-ul li{
    font-size: 15px;
  }
}

@media only screen and (max-width: 605px){
  .window-btn{
    right: 155px;
  }
}

@media only screen and (max-width: 550px){
  .cart-item-title{
    font-size: 5px;
  }
  .cart-item-remove{
    font-size: 5px;
  }
  .cart-item-price{
    font-size: 8px;
  }
  .cart-item-price span{
    font-size: 8px;
  }
}

@media only screen and (max-width: 505px){
  .window-price{
    font-size: 12px;
  }
  .window-info-text{
    gap: 30px;
  }
}

@media only screen and (max-width: 415px){
  .all-product{
    grid-template-columns: auto;
  }
  .zoomer-logo{
    width: 13vh;
  }
  .search-button img{
    width: 3vh;
  }
  .cart-location h1{
    font-size: 7px;
  }
  .white-burger-menu{
    width: 4vh;
  }
  .cart-navigation-left{
    font-size: 5px;
  }
  .cart-added-products{
    margin-left: 50px;
  }
  .contact-page-ul li{
    font-size: 12px;
  }
}

@media only screen and (max-width: 340px){
  .cart-paying-button{
    padding: 10px 10px;
    font-size: 6px;
  }
  .cart-item-remove{
    padding: 4px 5px;
  }
  .cart-empty p{
    font-size: 9px;
  }
  .cart-empty a{
    font-size: 9px;
  }
  .cart-empty a img{
    width: 15px;
  }
  .cart-added-products{
    margin-left: 40px;
  }
  .product-window {
    padding: 0;
}
.product-window-frame{
  margin-top: 10px;
}
}

@media only screen and (max-height: 620px){
  .window-info-text{
    margin-top: 10px;
  }
  .window-info-text h2{
    width: 25vh;
  }
}